<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2024hexschool_week7</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="container py-8 py-lg-10 position-relative">
      <picture>
        <source
          media="(min-width: 992px)"
          srcset="../assets/images/banner.png"
        />
        <img
          src="../assets/images/banner-sm.png"
          alt=""
          class="w-100 object-fit-cover"
        />
      </picture>
      <div
        class="position-absolute top-50 translate-middle-y text-lg-start ps-lg-9 text-center text-white w-100"
        style="margin-left: -12px"
      >
        <h3 class="fs-lg-5 fs-md-5 fs-6 mb-3 w-100">獻給新世代的生活風格誌</h3>
        <h2 class="fs-lg-1 fs-md-1 fs-3 mb-5 w-100">一起探索生活的無限可能</h2>
        <button class="btn btn-secondary-200 text-white px-4 py-lg-3 px-lg-5">
          馬上訂閱
          <span
            class="material-symbols-outlined fs-2"
            style="line-height: 1; vertical-align: middle"
          >
            arrow_right_alt
          </span>
        </button>
      </div>
    </section>

    <section class="container py-8 py-lg-10">
      <h2 class="mb-5">熱門主題</h2>
      <div class="row gy-5">
        <div class="col col-12 col-md-6 col-lg-3">
          <div data-aos="fade-up-right">
            <div class="theme-card position-relative">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="../assets/images/theme-1.png"
                />
                <img
                  src="../assets/images/theme-1-sm.png"
                  alt=""
                  class="w-100"
                />
              </picture>
              <p
                class="position-absolute top-50 translate-middle-y w-100 text-center text-white fs-lg-5 fw-bold fs-md-5"
              >
                城市漫遊者
              </p>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3">
          <div data-aos="fade-up-right">
            <div class="theme-card position-relative">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="../assets/images/theme-2.png"
                />
                <img
                  src="../assets/images/theme-2-sm.png"
                  alt=""
                  class="w-100"
                />
              </picture>
              <p
                class="position-absolute top-50 translate-middle-y w-100 text-center text-white fs-lg-5 fw-bold fs-md-5"
              >
                秘境尋蹤人
              </p>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3">
          <div data-aos="fade-up-left">
            <div class="theme-card position-relative">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="../assets/images/theme-3.png"
                />
                <img
                  src="../assets/images/theme-3-sm.png"
                  alt=""
                  class="w-100"
                />
              </picture>
              <p
                class="position-absolute top-50 translate-middle-y w-100 text-center text-white fs-lg-5 fw-bold fs-md-5"
              >
                品味設計家
              </p>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3">
          <div data-aos="fade-up-left">
            <div class="theme-card position-relative">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="../assets/images/theme-4.png"
                />
                <img
                  src="../assets/images/theme-4-sm.png"
                  alt=""
                  class="w-100"
                />
              </picture>
              <p
                class="position-absolute top-50 translate-middle-y w-100 text-center text-white fs-lg-5 fw-bold fs-md-5"
              >
                美食探險記
              </p>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3">
          <div data-aos="fade-up-right">
            <div class="theme-card position-relative">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="../assets/images/theme-5.png"
                />
                <img
                  src="../assets/images/theme-5-sm.png"
                  alt=""
                  class="w-100"
                />
              </picture>
              <p
                class="position-absolute top-50 translate-middle-y w-100 text-center text-white fs-lg-5 fw-bold fs-md-5"
              >
                美學建築誌
              </p>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3">
          <div data-aos="fade-up-right">
            <div class="theme-card position-relative">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="../assets/images/theme-6.png"
                />
                <img
                  src="../assets/images/theme-6-sm.png"
                  alt=""
                  class="w-100"
                />
              </picture>
              <p
                class="position-absolute top-50 translate-middle-y w-100 text-center text-white fs-lg-5 fw-bold fs-md-5"
              >
                慢活生活行
              </p>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3">
          <div data-aos="fade-up-left">
            <div class="theme-card position-relative">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="../assets/images/theme-7.png"
                />
                <img
                  src="../assets/images/theme-7-sm.png"
                  alt=""
                  class="w-100"
                />
              </picture>
              <p
                class="position-absolute top-50 translate-middle-y w-100 text-center text-white fs-lg-5 fw-bold fs-md-5"
              >
                工藝匠心賞
              </p>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3">
          <div data-aos="fade-up-left">
            <div class="theme-card position-relative">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="../assets/images/theme-8.png"
                />
                <img
                  src="../assets/images/theme-8-sm.png"
                  alt=""
                  class="w-100"
                />
              </picture>
              <p
                class="position-absolute top-50 translate-middle-y w-100 text-center text-white fs-lg-5 fw-bold fs-md-5"
              >
                時尚先鋒派
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container py-8 py-lg-10">
        <div class="row">
          <div class="col col-4 flex-column d-none d-md-flex">
            <h2 class="mb-auto">精選文章</h2>
            <p class="fs-4">1 / 5</p>
            <%- include('./layout/components/switch_arrows'); -%>
          </div>
          <div class="col col-md-8 col-12">
            <h2 class="mb-5 d-block d-md-none">精選文章</h2>
            <div class="row">
              <div class="col col-md-6 col-12">
                <div
                  data-aos="flip-left"
                  data-aos-anchor-placement="top-center"
                >
                  <div
                    class="card bg-transparent border-0 px-0 py-0 w-100 h-100"
                  >
                    <img
                      src="../assets/images/articles-1.png"
                      class="card-img-top"
                      alt=""
                    />
                    <div class="card-body px-0 d-flex flex-column h-100">
                      <h5 class="card-title fw-bolder">私人島嶼的露營奇遇記</h5>
                      <p class="card-text">
                        遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
                      </p>
                      <p class="mt-auto fs-4 mb-5">Read More</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-md-6 d-none d-md-block">
                <div
                  data-aos="flip-left"
                  data-aos-anchor-placement="top-center"
                >
                  <div
                    class="card bg-transparent border-0 px-0 py-0 w-100 h-100"
                  >
                    <img
                      src="../assets/images/articles-2.png"
                      class="card-img-top"
                      alt=""
                    />
                    <div class="card-body px-0 d-flex flex-column h-100">
                      <h5 class="card-title fw-bolder">
                        窺探米其林三星主廚的絕密手藝
                      </h5>
                      <p class="card-text">
                        在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...
                      </p>
                      <div class="position-relative mb-5">
                        <p class="mt-auto fs-4 w-100 my-0">Read More</p>
                        <p
                          class="position-absolute my-0 end-0 top-50 translate-middle-y px-1 color-primary-400 bg-primary-300"
                          style="padding-top: 4px; padding-bottom: 4px"
                        >
                          會員專屬
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between d-block d-md-none">
              <p class="fs-4">1 / 5</p>
              <%- include('./layout/components/switch_arrows'); -%>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary-200">
      <div
        class="container py-8 py-lg-10 d-flex flex-column gap-4 align-items-center position-relative overflow-hidden"
      >
        <h4>\ 母親節強檔活動 /</h4>
        <h2>家庭訂閱方案限時 7 折</h2>
        <ul class="list-unstyled d-flex flex-column gap-3">
          <li>
            <span class="material-symbols-outlined"> check </span>
            <span class="ms-3">每月最新文章無限閱讀</span>
          </li>
          <li>
            <span class="material-symbols-outlined"> check </span>
            <span class="ms-3">專屬會員限定內容</span>
          </li>
          <li>
            <span class="material-symbols-outlined"> check </span>
            <span class="ms-3">定期電子報</span>
          </li>
          <li>
            <span class="material-symbols-outlined"> check </span>
            <span class="ms-3">年度精選禮物</span>
          </li>
          <li>
            <span class="material-symbols-outlined"> check </span>
            <span class="ms-3">24 /7 優先客戶服務</span>
          </li>
          <li>
            <span class="material-symbols-outlined"> check </span>
            <span class="ms-3">為每個成員量身打造專屬行程</span>
          </li>
        </ul>

        <button class="btn btn-secondary-200 text-white px-4 py-lg-3 px-lg-5">
          我想了解
        </button>
        <div
          class="decorate1 position-absolute d-none d-md-block"
          style="left: 0px; bottom: -10px"
        >
          <div data-aos="fade-right" data-aos-anchor-placement="top-center">
            <img src="../assets/images/bg-1.png" alt="" />
          </div>
        </div>
        <div
          class="decorate2 position-absolute"
          style="right: -32px; bottom: -10px"
        >
          <div data-aos="fade-left" data-aos-anchor-placement="top-center">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/bg-2.png"
              />
              <img
                src="../assets/images/bg-2-sm.png"
                alt=""
                class="w-100 object-fit-cover"
              />
            </picture>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container py-8 py-lg-10">
        <h2 class="mb-7">大家都在看</h2>

        <div class="row gx-5">
          <div class="col col-3 d-none d-lg-block">
            <div class="bg-white rounded-2 custom-shadow h-100">
              <div
                data-aos="fade-right"
                data-aos-anchor-placement="center-center"
              >
                <ul class="list-unstyled p-5 d-flex flex-column gap-4">
                  <li
                    class="fs-6 fs-xl-5 fs-xxl-4 fw-bolder p-3 bg-secondary-100"
                  >
                    ． 酒精路跑地圖
                  </li>
                  <li class="fs-6 fs-xl-5 fs-xxl-4 fw-bolder p-3">
                    ． 台北拉麵圖鑑
                  </li>
                  <li class="fs-6 fs-xl-5 fs-xxl-4 fw-bolder p-3">
                    ． 海島自由行
                  </li>
                  <li class="fs-6 fs-xl-5 fs-xxl-4 fw-bolder p-3">
                    ． 短天數出國推薦
                  </li>
                  <li class="fs-6 fs-xl-5 fs-xxl-4 fw-bolder p-3">
                    ． 週末露營趣
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col col-lg-9 d-none d-lg-block">
            <div data-aos="flip-up" data-aos-anchor-placement="center-center">
              <div
                class="d-flex flex-column p-7 bg-white rounded-2 custom-shadow"
              >
                <div class="d-flex flex-column p-5 gap-5 w-100">
                  <h3>酒精路跑地圖</h3>
                  <ul class="list-unstyled d-flex flex-column gap-4">
                    <li class="fw-bold">｜城市酒吧人氣榜,盤點當紅熱門酒吧</li>
                    <li class="fw-bold">
                      ｜你要的調酒師在這裡！五月全台酒吧客座活動整理
                    </li>
                    <li class="fw-bold">｜台南老宅手工酒藏,尋味百年人文釀意</li>
                  </ul>
                </div>
                <ul
                  class="photogrid d-flex justify-content-center list-unstyled"
                >
                  <li>
                    <img
                      src="../assets/images/hots-1.png"
                      alt=""
                      style="
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                      "
                    />
                  </li>
                  <li>
                    <img
                      src="../assets/images/hots-2.png"
                      alt=""
                      style="border-radius: 4px"
                    />
                  </li>
                  <li>
                    <img
                      src="../assets/images/hots-3.png"
                      alt=""
                      style="border-radius: 4px"
                    />
                  </li>
                  <li>
                    <img
                      src="../assets/images/hots-4.png"
                      alt=""
                      style="
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                      "
                    />
                  </li>
                </ul>
                <div class="d-flex align-items-center py-6 px-5">
                  <ul
                    class="tags d-flex align-items-center gap-2 m-0 me-auto list-unstyled"
                  >
                    <li class="tag color-primary-400 bg-primary-300 fw-bold">
                      #夜貓行程
                    </li>
                    <li class="tag color-primary-400 bg-primary-300 fw-bold">
                      #barhopping
                    </li>
                    <li class="tag color-primary-400 bg-primary-300 fw-bold">
                      #全台酒吧
                    </li>
                  </ul>
                  <%- include('./layout/components/ViewMore'); -%>
                </div>
              </div>
            </div>
          </div>

          <div class="col d-lg-none">
            <div class="card p-3 rounded-2 border-0 custom-shadow">
              <h3 class="card-title">酒精路跑地圖</h3>
              <ul class="list-unstyled d-flex flex-column gap-1">
                <li class="fw-bold">｜城市酒吧人氣榜,盤點當紅熱門酒吧</li>
                <li class="fw-bold">
                  ｜你要的調酒師在這裡！五月全台酒吧客座活動整理
                </li>
                <li class="fw-bold">｜台南老宅手工酒藏,尋味百年人文釀意</li>
              </ul>
              <img
                src="../assets/images/hots-1-sm.png"
                class="card-img-top mb-3"
                alt=""
              />
              <div class="d-flex justify-content-center flex-column">
                <ul
                  class="tags d-flex justify-content-center gap-2 py-1 me-auto list-unstyled w-100"
                >
                  <li
                    class="tag px-1 color-primary-400 bg-primary-300 fw-bold"
                    style="font-size: 12px"
                  >
                    #夜貓行程
                  </li>
                  <li
                    class="tag px-1 color-primary-400 bg-primary-300 fw-bold"
                    style="font-size: 12px"
                  >
                    #barhopping
                  </li>
                  <li
                    class="tag px-1 color-primary-400 bg-primary-300 fw-bold"
                    style="font-size: 12px"
                  >
                    #全台酒吧
                  </li>
                </ul>
                <%- include('./layout/components/ViewMore'); -%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container py-8 py-lg-10">
        <div class="position-relative">
          <h2 class="mb-7">品味生活</h2>
          <div class="position-absolute top-0 end-0">
            <%- include('./layout/components/switch_arrows'); -%>
          </div>
        </div>
        <div class="row">
          <div class="col col-12 col-md-4">
            <div data-aos="fade-left" data-aos-anchor-placement="center-center">
              <p class="mb-4 mb-lg-6" style="font-size: 52px">食.</p>
              <div class="mb-4 mb-lg-6">
                <picture>
                  <source
                    media="(min-width: 992px)"
                    srcset="../assets/images/life-1.png"
                  />
                  <img
                    src="../assets/images/life-1-sm.png"
                    alt=""
                    class="w-100"
                  />
                </picture>
              </div>
              <ul class="list-unstyled d-flex flex-column mb-5 mb-lg-6 gap-4">
                <li class="fs-lg-5 fw-bold">｜米其林三星主廚的那些絕活傳奇</li>
                <li class="fs-lg-5 fw-bold">｜探秘成都的地道川味秘技與魅力</li>
                <li class="fs-lg-5 fw-bold">｜義大利釀酒師對於酒的堅持執著</li>
              </ul>
              <%- include('./layout/components/ViewMore'); -%>
            </div>
          </div>
          <div class="col col-12 col-md-4">
            <div data-aos="fade-left" data-aos-anchor-placement="center-center">
              <p class="mb-4 mb-lg-6" style="font-size: 52px">藝.</p>
              <div class="mb-4 mb-lg-6">
                <picture>
                  <source
                    media="(min-width: 992px)"
                    srcset="../assets/images/life-2.png"
                  />
                  <img
                    src="../assets/images/life-2-sm.png"
                    alt=""
                    class="w-100"
                  />
                </picture>
              </div>
              <ul class="list-unstyled d-flex flex-column mb-5 mb-lg-6 gap-4">
                <li class="fs-lg-5 fw-bold">
                  ｜解構教主級時裝設計大師的獨特美學
                </li>
                <li class="fs-lg-5 fw-bold">｜當代攝影師鏡頭中的光影離奇</li>
                <li class="fs-lg-5 fw-bold">
                  ｜帶你穿縮中世紀，夏季文藝復興展
                </li>
              </ul>
              <%- include('./layout/components/ViewMore'); -%>
            </div>
          </div>
          <div class="col col-12 col-md-4">
            <div data-aos="fade-left" data-aos-anchor-placement="center-center">
              <p class="mb-4 mb-lg-6" style="font-size: 52px">旅.</p>
              <div class="mb-4 mb-lg-6">
                <picture>
                  <source
                    media="(min-width: 992px)"
                    srcset="../assets/images/life-3.png"
                  />
                  <img
                    src="../assets/images/life-3-sm.png"
                    alt=""
                    class="w-100"
                  />
                </picture>
              </div>
              <ul class="list-unstyled d-flex flex-column mb-5 mb-lg-6 gap-4">
                <li class="fs-lg-5 fw-bold">｜遠離喧囂,偶探巴塔哥尼亞終界</li>
                <li class="fs-lg-5 fw-bold">｜東京深度六區,帶你細品極簡魅力</li>
                <li class="fs-lg-5 fw-bold">｜專賣奇珍異寶的東歐地下夜市</li>
              </ul>
              <%- include('./layout/components/ViewMore'); -%>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary-200">
      <div class="container py-8 py-lg-10">
        <div class="row">
          <div class="col col-12 col-md-6">
            <div class="d-flex flex-column justify-content-center h-100">
              <h4 class="fs-6 fs-xxl-4 mb-lg-3">今天又不知道要去哪裡了嗎</h4>
              <div class="d-flex mb-lg-6">
                <h2 class="fs-4 fs-lg-2">Vivre給你意想不到的生活風格提案</h2>
              </div>
              <div>
                <button
                  class="btn btn-secondary-200 text-white px-4 py-lg-3 px-lg-5 fs-4"
                >
                  馬上訂閱
                  <span
                    class="material-symbols-outlined fs-2"
                    style="line-height: 1; vertical-align: middle"
                  >
                    arrow_right_alt
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-6">
            <ul class="row list-unstyled gy-7">
              <li class="col col-12 col-lg-6">
                <div class="position-relative mt-7">
                  <div
                    data-aos="flip-up"
                    data-aos-anchor-placement="top-center"
                  >
                    <div class="project-tag bg-white">
                      <span
                        class="material-symbols-outlined"
                        style="line-height: 1; vertical-align: middle"
                      >
                        play_arrow </span
                      >人氣行程
                    </div>
                    <img
                      src="../assets/images/projects-2.png"
                      alt=""
                      class="w-100"
                    />
                    <div
                      class="d-flex justify-content-between align-items-center position-absolute p-2 w-100 bottom-0"
                      style="color: white"
                    >
                      <h6 class="my-0">親子露營要帶什麼？</h6>
                      <span
                        class="material-symbols-outlined fs-2"
                        style="line-height: 1; vertical-align: middle"
                      >
                        arrow_right_alt
                      </span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col col-12 col-lg-6 d-none d-lg-block">
                <div class="position-relative">
                  <div
                    data-aos="flip-up"
                    data-aos-anchor-placement="top-center"
                  >
                    <div class="project-tag bg-white">
                      <span
                        class="material-symbols-outlined"
                        style="line-height: 1; vertical-align: middle"
                      >
                        play_arrow </span
                      >編輯推薦
                    </div>
                    <img
                      src="../assets/images/projects-1.png"
                      alt=""
                      class="w-100"
                    />
                    <div
                      class="d-flex justify-content-between align-items-center position-absolute p-2 w-100 bottom-0"
                      style="color: white"
                    >
                      <h6 class="my-0">山女孩的健行筆記</h6>
                      <span
                        class="material-symbols-outlined fs-2"
                        style="line-height: 1; vertical-align: middle"
                      >
                        arrow_right_alt
                      </span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col col-12 col-lg-6 d-none d-lg-block">
                <div class="position-relative">
                  <div
                    data-aos="flip-up"
                    data-aos-anchor-placement="top-center"
                  >
                    <div class="project-tag bg-white">
                      <span
                        class="material-symbols-outlined"
                        style="line-height: 1; vertical-align: middle"
                      >
                        play_arrow </span
                      >編輯推薦
                    </div>
                    <img
                      src="../assets/images/projects-3.png"
                      alt=""
                      class="w-100"
                    />
                    <div
                      class="d-flex justify-content-between align-items-center position-absolute p-2 w-100 bottom-0"
                      style="color: white"
                    >
                      <h6 class="my-0">質感房間改造攻略！</h6>
                      <span
                        class="material-symbols-outlined fs-2"
                        style="line-height: 1; vertical-align: middle"
                      >
                        arrow_right_alt
                      </span>
                    </div>
                  </div>
                </div>
              </li>
              <li
                class="col col-12 col-lg-6 d-none d-lg-block"
                style="margin-top: 0px"
              >
                <div class="position-relative">
                  <div
                    data-aos="flip-up"
                    data-aos-anchor-placement="top-center"
                  >
                    <div class="project-tag bg-white">
                      <span
                        class="material-symbols-outlined"
                        style="line-height: 1; vertical-align: middle"
                      >
                        play_arrow </span
                      >熱門文章
                    </div>
                    <img
                      src="../assets/images/projects-4.png"
                      alt=""
                      class="w-100"
                    />
                    <div
                      class="d-flex justify-content-between align-items-center position-absolute p-2 w-100 bottom-0"
                      style="color: white"
                    >
                      <h6 class="my-0">適合溜小孩的海邊景點推薦</h6>
                      <span
                        class="material-symbols-outlined fs-2"
                        style="line-height: 1; vertical-align: middle"
                      >
                        arrow_right_alt
                      </span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container py-8 py-lg-10">
        <div class="d-flex flex-column flex-md-row">
          <h2 class="text-center me-lg-auto">想看什麼主題由你決定</h2>
          <div
            class="d-flex flex-column align-items-center align-items-lg-end gap-3"
          >
            <h3>歡迎投稿與我們分享</h3>
            <div>
              <button
                class="btn btn-secondary-200 text-white px-4 py-lg-3 px-lg-5 fs-4"
              >
                聯絡我們
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </body>
</html>
