<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>註冊</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container logincontainer">
      <div class="row">
        <div class="col col-12 px-0 col-lg-6 ms-auto me-auto">
          <div class="bg-white rounded-3 p-7 custom-shadow">
            <h4 class="mb-7">註冊</h4>
            <form>
              <div class="mb-3">
                <label for="account" class="mb-2"> <h6>會員帳號</h6></label>
                <input
                  type="account"
                  class="bg-gray-100 rounded-2 py-2 px-3 w-100 border-0"
                  id="account"
                  placeholder="請輸入會員帳號"
                />
              </div>
              <div class="mb-3">
                <label for="password" class="mb-2"> <h6>密碼</h6></label>
                <input
                  type="password"
                  class="bg-gray-100 rounded-2 py-2 px-3 w-100 border-0"
                  id="password"
                  placeholder="請輸入密碼"
                />
              </div>
              <div class="mb-3">
                <label for="email" class="mb-2"> <h6>電子信箱</h6></label>
                <input
                  type="email"
                  class="bg-gray-100 rounded-2 py-2 px-3 w-100 border-0"
                  id="email"
                  aria-describedby="emailHelp"
                  placeholder="請輸入電子信箱"
                />
              </div>
              <button
                type="submit"
                class="btn btn-secondary-200 text-white py-2 px-4 py-lg-3 px-lg-5 w-100 my-7"
              >
                立即註冊
                <span
                  class="material-symbols-outlined fs-2"
                  style="line-height: 1; vertical-align: middle"
                >
                  arrow_right_alt
                </span>
              </button>
            </form>

            <div class="position-relative">
              <div class="d-flex align-items-center w-100">
                <div
                  style="height: 1px; background: #adb5bd; width: 100%"
                ></div>
                <span
                  class="text-center bg-white text-nowrap px-1"
                  style="color: #adb5bd"
                >
                  或以其他方式註冊
                </span>
                <div
                  style="height: 1px; background: #adb5bd; width: 100%"
                ></div>
              </div>
            </div>
            <div class="py-7">
              <button class="btn btn-gray-100 otherloginbtn py-2 w-100 mb-1">
                <img src="../assets/images/icons-google.png" alt="" />
                使用Google註冊
              </button>
              <button class="btn btn-gray-100 otherloginbtn py-2 w-100 mb-1">
                <img src="../assets/images/icons-facebook.png" alt="" />
                使用Facebook註冊
              </button>
            </div>
            <div class="text-center">
              <h6 class="fw-bold">
                已經是會員了？ <a href="login.html">點此登入</a>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
