<div class="d-flex align-items-center">
  <span class="material-symbols-outlined fs-1 px-2 border rounded-pill">
    arrow_left_alt
  </span>
  <div class="flex-grow-0 mx-3 border border-bottom" style="width: 80px"></div>

  <span class="material-symbols-outlined fs-1 px-2 border rounded-pill">
    arrow_right_alt
  </span>
</div>
