<div
  class="d-flex justify-content-center gap-2"
  style="padding-top: 10px; padding-bottom: 10px"
>
  <p class="fs-4 m-0 p-0">View More</p>
  <span
    class="material-symbols-outlined text-accent-200 fs-2"
    style="line-height: 1; vertical-align: middle"
  >
    arrow_right_alt
  </span>
</div>
